{:paths   #{"src/clojure" "classes" "resources" "lib" "gen"}
 :deps    {org.clojure/clojure                 {:mvn/version "1.10.3"}
           org.clojure/core.async              {:mvn/version "1.3.618"}

           org.scijava/native-lib-loader       {:mvn/version "2.4.0"}
           babashka/process                    {:mvn/version "0.0.1"}

           org.graalvm.sdk/graal-sdk           {:mvn/version "21.2.0"}
           cnuernber/dtype-next                {:mvn/version "8.031"}
           techascent/tech.jna                 {:mvn/version "4.05"}
           net.java.dev.jna/jna                {:mvn/version "5.9.0"}

           org.clojure/data.json               {:mvn/version "2.4.0"}
           meander/epsilon                     {:mvn/version "0.0.650"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
           com.stuartsierra/dependency         {:mvn/version "1.0.0"}
           com.cognitect/transit-clj           {:mvn/version "1.0.324"}

           backtick/backtick                   {:mvn/version "0.3.4"}
           fipp                                {:mvn/version "0.6.24"}

           com.tristanstraub/godotclj-tscn     {:git/url "https://github.com/tristanstraub/godotclj-tscn"
                                                :sha     "8e075bf13caf6983973d2fc378937efdafdccf46"}

           ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}
 :aliases {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.60.972"}}}}}
